
body {
    font-family: 'Josefin Slab', serif;
    color: @text;
}
a {
    color: @link-color;
    &:hover {
        text-decoration: none;
    }
}
ul, li {
    list-style-type: none;
}
/* typography */
h3 { 
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.blurb {
    padding-bottom: 50px;
    h3 {
        text-align: center;
    }
    text-align: justify;
    p {
        padding-left: 25px;
        padding-right: 25px;
    }
}
.boxed {
    border: 1px solid @gray;
    padding: 5px;
}
.col-sm-3.boxed {
    width: 23%;
    margin: 1%;
    min-height: 160px;
}
.circular {
    width: 100px; 
    height: 100px;
    border-radius: 50px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: rgba(231, 231, 231, 0.19);
}

/* navbar */
.navbar-fixed-top { padding-top: 50px; }

.navbar-default { 
    background-color: #fff; 
}
.navbar-login { float: left; padding: 15px; } 

/* header */
.page-header { margin-top: 70px; }

.main { margin-top: 100px; }

.home .main .container {
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 0 0 25px;
    border-bottom: 1px solid @gray;
}
.container img {
    max-width: 100%;
}

.gform_validation_container {
    display: none;
}
.tablepress img {
    max-width: 200px;
}

/* woocommerce overrides */
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
    color: @link-color;
}
