/* temp rules */
/* hide check method while keeping it available for admin */
.payment_method_cheque {
    display: none;
}
.reset_variations {
    //display: none;
}
body {
    font-family: 'Josefin Slab', serif;
    color: @text;
}
a {
    color: @link-color;
    &:hover {
        text-decoration: none;
    }
}
ul, li {
    list-style-type: none;
}
/* typography */
h3 { 
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.blurb {
    padding-bottom: 50px;
    h3 {
        text-align: center;
    }
    text-align: justify;
    p {
        padding-left: 25px;
        padding-right: 25px;
    }
}
.boxed {
    border: 1px solid @gray;
    padding: 5px;
}
.col-sm-3.boxed {
    width: 23%;
    margin: 1%;
    min-height: 160px;
}
.circular {
    width: 100px; 
    height: 100px;
    border-radius: 50px;
}
article.post {
    clear: both;
    margin-top: 50px;
    h2.entry-title {
        margin-bottom: 30px;
    }
}
article.post img {
    max-width: 100%;
    height: auto;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: rgba(231, 231, 231, 0.19);
}
.woocommerce #content div.product p.price, .woocommerce #content div.product span.price, .woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce-page #content div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page div.product span.price {
    color: @gray; 
}

.navbar-default { 
    background-color: #fff; 
}

.navbar-brand { 
    margin: 0;
    padding: 0;
}
/* center navbar */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* header */
.page-header { margin-top: 70px; }

.main { 
    margin-top: 225px; 
}

.home .main .container {
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 0 0 25px;
    border-bottom: 1px solid @gray;
    &:first-child {
        //margin-top: 125px;
    }    
}
.container img {
    max-width: 100%;
}

.gform_validation_container {
    display: none;
}
.tablepress img {
    max-width: 200px;
    height: auto;
}

/* woocommerce overrides */
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
    color: @link-color;
}
.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
    clear: both;
    float: left;
    //width: 48%;

}

.woocommerce #content div.product p.stock, .woocommerce div.product p.stock, .woocommerce-page #content div.product p.stock, .woocommerce-page div.product p.stock {
    font-size: 1.0em;
}
.woocommerce #content div.product, .woocommerce div.product, .woocommerce-page #content div.product, .woocommerce-page div.product {
    margin-top: 25px;
}
.woocommerce .woocommerce-breadcrumb, .woocommerce-page .woocommerce-breadcrumb{
margin-top: 50px;
}
.woocommerce td.product-name dl.variation dd, .woocommerce td.product-name dl.variation dt, .woocommerce-page td.product-name dl.variation dd, .woocommerce-page td.product-name dl.variation dt {
margin-bottom: 0;
}
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
    min-height: 45px;
}

/* footer */
footer {
    margin: 50px;
}
/* breakpoints */
.container>.navbar-header { margin-top: -80px; }
.navbar-default .navbar-toggle {margin-bottom: 40px;}
.navbar-login { 
    float: none; 
    display: block;
    padding: 15px; 
    padding-top: 0;
} 
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-sm-min) { 
    /* navbar */
    .navbar-login { 
        display: inline-block;
        padding-top: 15px; 
    } 
    .container>.navbar-header { margin-top: 0px; }
    .navbar-default .navbar-toggle {margin-bottom: 8px;}
    .navbar-fixed-top { padding-top: 50px; }
    .summary.entry-summary {
        min-height: 550px; // ensure tabs break to left
    }
}
