
body {
    font-family: 'Josefin Slab', serif;
    color: @text;
}
a {
    color: @link-color;
}

/* navbar */
.navbar-fixed-top { padding-top: 50px; }

.navbar-default { 
    background-color: #fff; 
}
.navbar-login { float: left; padding: 15px; } 

/* header */
.page-header { margin-top: 70px; }

.main { margin-top: 100px; }

.home .main .container {
    min-height: 500px;
    margin-top: 25px;
    padding: 25px 0;
    border-bottom: 1px solid @gray;
}
.container img {
    max-width: 100%;
}

.gform_validation_container {
    display: none;
}
.tablepress img {
    max-width: 200px;
}

/* woocommerce overrides */
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
    color: @link-color;
}
